<ion-view title="Checkout Summary" >
  <ion-content class="has-header">
  <ion-list>
    <ion-item  type="item-text-wrap">
   <div class="list">
			<a ng-repeat="name in names" type="item-text-wrap" >
				<table>				
				<tr>
				<td><h1><a href="#">{{ name.name }}</a></h1>	</td>							
				<td><h2>Price: ${{ name.price }}</h2>	</td>	
				<td><h2>No: of hours: 2</h2>	</td>					
				</tr>
				<tr>
				<td></br></td>
				</tr>
				<tr>
				<td><h3>Category: <a href="#">{{ name.category }}</a></h3>	</td>							
				<td><h3>Sub Category: <a href="#">{{ name.subcategory }}</a></h3></td>								
				</tr>
				<tr>
				<td></br></td>
				</tr>
				<tr>
				<td><h2>Rating: {{ name.rating }}</h2>	</td>
				<td><a href="#">Show Booked Slot</a></td>
				</tr>
				<tr>
				<td></br><t/td>
				</tr>
				<tr>
				<td><h2><img ng-src="{{ name.image }}" /></h2></td>				
				</tr>
				<br>
				</br>
				</table>							
			</a>
		</div>
	</ion-item>
	</ion-list>
	</br>
	</br> 
		<div>
		<table  cellspacing='50'>
				<tr>
				<td><h1>Total (6 services):	</h1></td>							
				<td><SPAN STYLE="color: brown; font-size: 30pt">$1200</span></td>	
				</tr>
		</table>
		</div>
		<div>
			<table  cellspacing='50'>
				<tr>
				<td><button class="button button-block button-positive" onclick="window.location.href='#/tab/categories'">
				Customize Cart
            </button>  	</td>							
				
				</tr>
				</br>
				</br>
				</br>
				<tr>
				<td colspan="3"><button class="button button-block button-positive" onclick="window.location.href='https://www.paypal.com/in/cgi-bin/webscr?cmd=_login-submit	'">
				Pay with PayPal
            </button>  	</td>
			</tr>
				</table>                      
          </div>
  </ion-content>
</ion-view>
