<ion-view title="Checkout Summary" >
  <ion-content class="has-header">
  <ion-list>
    <ion-list>  
      <ion-item ng-repeat="name in names" type="item-text-wrap" >        
				<h1><a href="#">{{ name.name }}</a></h1>
				<h2>Price: ${{ name.price }}</h2>
				<h2>No: of hours: 2</h2>
				<h2>Rating: {{ name.rating }}</h2>
				<a href="#">Show Available Slot</a>
				</br>
				</br>
				
				<h2><img ng-src="{{ name.image }}" /></h2>				
		</div>
      </ion-item>
	</ion-list>
	</br>
	
		<div>
		<table >
				<tr>
				<td><h1>Total :	</h1></td>							
				<td><SPAN STYLE="color: brown; font-size: 30pt">$1200</span></td>	
				</tr>
		</table>			
		<button class="button button-block button-positive" onclick="window.location.href='https://www.paypal.com/in/cgi-bin/webscr?cmd=_login-submit	'">
				Pay with PayPal
        </button>  	
			
		<button class="button button-block button-positive" onclick="window.location.href='#/tab/categories'">
				Customize Cart
        </button>  	
		</div>
  </ion-content>
</ion-view>
